.service {
    border-radius: 25px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    @apply bg-black text-custom-orange dark:bg-custom-orange dark:text-black;
}

.services-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 mt-12 p-4 items-center;
}

.service-plate {
    @apply bg-custom-orange dark:bg-black px-2 py-1 rounded-full text-black dark:text-custom-orange absolute top-10 uppercase text-2xl font-bold;
}

.service-title {
    @apply text-4xl md:text-4xl lg:text-3xl font-bold h-[50%];
}

.service-price {
    @apply text-4xl bg-custom-orange dark:bg-black text-black dark:text-custom-orange p-1 rounded-full;
}

.service-description {
    @apply text-xl md:text-xl lg:text-lg space-y-4;
}
